@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: none;
   outline: none;
   list-style-type: none;
}

body {
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: 'Poppins', sans-serif;
   width: 100%;
   min-height: 100vh;
   scroll-behavior: smooth;
   font-size: 14px;
   background: #C9D6FF;
   background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
   background: linear-gradient(to right, #E2E2E2, #C9D6FF);
   color: rgb(255, 255, 255);
}

button,
input {
   display: block;
   font-family: inherit;
   font-weight: 500;
}

button {
   cursor: pointer;
}

.container {
   width: 500px;
   height: auto;
   padding: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   box-shadow: 0 6px 10px rgb(0, 0, 0, .4);
   border-radius: 5px;
   background: #396afc;
   background: -webkit-linear-gradient(to right, #2948ff, #396afc);
   background: linear-gradient(to right, #2948ff, #396afc);
}

.form {
   width: 100%;
   margin-bottom: 25px;
}

input.search {
   width: 100%;
   padding: 5px 10px;
   box-shadow: 0 4px 10px rgb(0, 0, 0, .2);
}

.main {}

.weather small {
   font-size: 18px;
}

.weather {
   font-size: 1.5rem;
}

.weather h2 {
   display: flex;
   align-items: center;
   font-weight: bold;
   color: rgb(255, 222, 32);
   margin: 8px;
}